extends layout

block append code
    -active.academic = "active"

block content
    .card.card-primary
        .card-header 
            h3.card-title New Academic Year Config 
        .card-body
            p This must be performed only during the beginning of 'ODD SEM'.
            button#button_promote.btn.btn-success(type="Button" data-toggle="modal" data-target="#promote") Promote Students

    .modal.fade#promote(tabindex ="-1" role="dialog" )
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h4.modal-title Promote
                .modal-body
                    p Are you sure you want to promote the students?
                    br
                .modal-footer
                    button.btn.btn-success(type='button' data-dismiss='modal' onclick="promote()") Proceed
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    
    form(enctype="multipart/form-data" ,method="POST",onsubmit="submitCSV()")#csv
        .card.card-primary
            .card-header 
                h3.card-title Year Back Students
            .card-body
                .row
                    .col-md-4
                        .form-group
                            p Upload the list of USN in the below template file.
                            p Download CSV Template file
                            a#download.btn.btn-info(href="/yearback.csv") Download
                        br
                        br
                        .form-group
                            input(type="file", name="csv" required)
                        .form-group
                            button#button_csv.btn.btn-success(type="submit") Upload
    
    .modal.fade#error_csv(tabindex ="-1" role="dialog" )
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Error
                .modal-body
                    #ebody
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close

    script.
        function submitCSV(){
            $("#button_csv").prop('disabled',true).html("Processing");
             $.ajax({
                url: '/admin/yearback/',
                type: 'post',
                data: new FormData($('#csv')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function( data, textStatus, jQxhr ){
                    toastr.success(data);
                    $("#button_csv").prop('disabled',false).html("Upload");
                },
                error: function(error){
                    //toastr.error(error.responseText);
                    $("#ebody").html(error.responseText);
                    $('#error_csv').modal('show');
                    $("#button_csv").prop('disabled',false).html("Upload");
                }
            });
            return false;
        }

        function promote(){
            $("#button_promote").prop('disabled',true).html("Processing");
            $.get('/admin/promote',function(data,status){
                toastr.success(data);
                $("#button_promote").prop('disabled',false).html("Promote Students");
            }).fail((err)=>{
                toastr.error(err.responseText);
                $("#button_promote").prop('disabled',false).html("Promote Students");
            })
        }
