extends layout

block append code
    - active.add="active"
    - active.manage="active"
    - menu.manage="menu-open"
    
    style(type="text/css").
        .hide{
            display:none;
        }
    script(type='text/javascript').
        $(document).on('change', '#type', function() {
        let target = $(this).data('target');
        let show = $("option:selected", this).data('show');
        $(target).children().addClass('hide');
        $(show).removeClass('hide');
        let type=document.getElementById('type').value;
        $("#add").trigger("reset");
        document.getElementById('type').value=type;
        
        });
        $(document).ready(function(){
        $('.type').trigger('change');
        
        });

        function submitForm(){

            
            if(document.getElementById('type').value === "student"){
                //-$("#tf").remove();
                $("#tf *").prop('disabled',true);}
            else{
                $("#sf *").prop('disabled',true);
               }
            const reg = $.post("/register", $("#add").serialize(), function(data,status) {

            alert("Account added Successfully");
            window.location.href = '/admin/add'
            })
                .fail(function(error){
                   
                    $("#addForm *").prop('disabled',false);
                    alert(error.responseText);
                })
            
        }
        function submitCSV(){
             $.ajax({
                url: '/admin/add',
                type: 'post',
                data: new FormData($('#csv')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function( data, textStatus, jQxhr ){
                    alert(data);
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    alert(errorThrown);
                }
            });
        }
        
block content
    form#add
        .card.card-primary
            .card-header 
                h3.card-title Add an account
            .card-body
                .col-3(style="margin:auto;")
                    .form-group
                        select#type(name="type", data-target=".addForm").form-control.custom-select.type
                            option(selected,disabled) Select Account Type
                            option(value="student", data-show=".student") Student
                            option(value="teacher", data-show=".teacher") Teacher

                .row.addForm#addForm
                    .col-md-4.student.hide#sf
                        .form-group
                            label(for="fname") First Name
                            input#fname.form-control(type="text",name="fname")
                        .form-group
                            label(for="lname") Last Name
                            input#lname.form-control(type="text",name="lname")
                        .form-group
                            label(for="usn") USN
                            input#usn.form-control(type="text",name="usn")
                        .form-group
                            label(for="year") Year
                            select#year(name="year").form-control.custom-select.type
                                option(selected,disabled) Select Year
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4

                        .form-group
                            label(for="email") Email
                            input#email.form-control(type="email",name="email")
                        .form-group
                            label(for="password") Password
                            input#password.form-control(type="password",name="password")
                        .col-12
                        input(type="button",onclick="submitForm()", value="Create New Account").btn.btn-success.float-right

                            
                    .col-md-4.teacher.hide#tf
                        .form-group
                            label(for="name") Name
                            input#name.form-control(type="text",name="name")
                        .form-group
                            label(for="email") Email
                            input#email.form-control(type="email",name="email")
                        .form-group
                            label(for="password") Password
                            input#password.form-control(type="password",name="password")
                        .col-12
                        input(type="button", onclick="submitForm()",value="Create New Account").btn.btn-success.float-right
    form(enctype="multipart/form-data" ,method="POST")#csv
        .card.card-primary
            .card-header
                h3.card-title Add via CSV
            .card-body
                .col-3(style="margin:auto;")
                    .form-group
                        h6 Select account type
                        select(name="type_csv", required).form-control.custom-select
                            option(value="student") Student
                            option(value="teacher") Teacher
                .row
                    .col-md-4
                        .form-group
                            p Upload a csv file with following attributes
                        .form-group
                            input(type="file", name="csv")
                        .form-group
                            input.btn.btn-success(type="button", value="Upload", onclick="submitCSV()")
                    
                    
                    