extends layout

block append code
    - active.addAssignment="active"
    - active.assignment="active"
    - menu.assignment="menu-open"
block append head
    link(rel="stylesheet", href="/adminLTE/dist/css/daterangepicker.css")
    script(src="/adminLTE/dist/js/moment.min.js")
    script(src="/adminLTE/dist/js/daterangepicker.min.js")

    script.
        $(function() {
        $('input[name="duration"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
            format: 'YYYY/MM/DD hh:mm A'
            }
        });
        });

        function submitForm(){
            $.post("/admin/assignment/new", $("#newAssignment").serialize(), function(data,status) {

            toastr.success(data);
            })
                .fail(function(error){
                    toastr.error(error.responseText);
                })
        }



block content
    form#newAssignment
        .card.card-primary
                .card-header 
                    h3.card-title Create New Assignment
                .card-body
                    .col-4(style="margin:auto;")
                        .form-group
                            label Semester
                            select(name="sem").form-control.custom-select.type
                                option(selected,disabled) Select Semester
                                option(value=1) 1
                                option(value=2) 2
                                option(value=3) 3
                                option(value=4) 4
                                option(value=5) 5
                                option(value=6) 6
                                option(value=7) 7
                                option(value=8) 8
                   
                        .form-group
                            label(for="duration") Duration
                            input(type="text", name="duration" id="duration").form-control

                        .form-group
                             input(type="button", onclick="submitForm()",value="Create").btn.btn-success
