include navbar

head
  link(rel='stylesheet' type='text/css' href='assets/css/light.css')

body
    .content(style="color:#9A9A9A;")
        .container-fluid
            .row
                .col-md-3
                    .card
                        .header
                            h4.title(style="margin-top:15px;margin-left:15px;margin-bottom:8px;") Update Password
                        .content
                            form#password
                                .row
                                    .col-lg-11.col-md-11
                                        .form-group
                                            label New Password
                                            input.form-control(type='password' name = 'new_password' placeholder='' value="")
                                .row
                                    .col-lg-11.col-md-11
                                        .form-group
                                            label Confirm Password
                                            input.form-control(type='password' name = 're_entered_password'  placeholder='' value="")
                                .row
                                    .col-lg-11.col-md-11
                                        .form-group
                                            label Recovery Email
                                            input.form-control(type='email' name = 'recovery_email')
                                        
                                button.btn.btn-info.btn-fill.pull-right(type='button' id="update-password") Submit
                                .clearfix
