extends navbar
block append head
    - active.assignment="active"
    - navClass = "bg-fade trans";
    - navStyle = "";
    title Assignments
    link(rel='stylesheet' href='list_style/bootstrap/css/new.css')
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    script(src="/fontawesome/all.min.js")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
    link(rel="stylesheet", href="/assets/css/n.css")
    script(src="/js/typewriter.js")
    style.
        .trans{
        position:absolute;
        right:60px;
        left:60px;
        padding-top:30px;
        background:transparent;
        background-color:transparent!important;
        }
        .editor-right:hover{
            /*color:#1E88E5;*/
            cursor:pointer;
        }
    
block append content
    .WRAPPER
        section.module.parallax.parallax-1(data-type='background' data-speed='10')
            .parallax-container
                h2.typewrite(href='' data-period='2000' data-type='[ "ASSIGNMENT" ]' style="font-family: 'ABeeZee';letter-spacing:3px;font-weight:bold")
                    span.wrap
        main.page.projets-page
            section.portfolio-block.project-no-images.pt-4
                //- .container1
                .container-fluid
                    .row
                        -if(duration)
                            -const d = duration.ends.toString();
                            .col-lg-8
                                | Ends on : #{d.substr(0,d.indexOf('GMT'))}
                        -else
                            .col-lg-8
                        .col-lg-4
                            a.btn.btn-primary.editor.right.pl-3.pr-3(style="border-radius:20px;" href="/assignment/leaderboard/")
                                i.fad.fa-poll-people
                                | &nbsp; 
                                label.editor-right.mb-0 Leaderboard
                            a.btn.btn-primary.editor.right.ml-5.pl-3.pr-3(style="border-radius:20px;" href="/assignment/previous")
                                i.fad.fa-eye
                                | &nbsp; 
                                label.editor-right.mb-0 View Previous                            
                    br
                    .row1
                        each i in questions
                            .col-lg-3
                                .project-card-no-image
                                    h5()=i.name
                                    a.btn1.btn1-outline-primary.btn1-sm(role='button' href='/assignment/'+i.qid) SOLVE
        
        br
        -if(count>0)
            ul.pagination.justify-content-center
                li.page-item(class=(page==1?'disabled':''))
                    a.page-link(href='?page='+(page-1)) Previous
                -for(let i=1;i<=Math.ceil(count/12);i++)
                    li.page-item(class=(page==i?'active':''))
                        a.page-link(href="?page="+i)=i
                li.page-item(class=(page==Math.ceil(count/12)?'disabled':''))
                    a.page-link(href="?page="+(page+1) ) Next
        .push1
        .push
    //- footer.bg-dark(class="FOOTER")
    //-     div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020  
    include footer         
        //- script(src='list_style/js/jquery.min.js')
        //- script(src='list_style/bootstrap/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js')
        script(src='list_style/js/theme.js')
