
//- mixin svg(name)
//-   svg.icon(class=name)
//-     use(xlink:href=`https://image.flaticon.com/icons/svg/134/134105.svg#${name}`)

link(rel='stylesheet' type='text/css' href='card.css')
//- Today's Featured contest
.ft-contest 
    .ft-contest__thumb
        //-span(id="close-modal")
            i.ion.ion-md-close
        //-h3 Today's Featured contest
        img(src="download.png", alt="Strawberry Waffle")
    .ft-contest__content
        header.content__header
            .row-wrapper
                h2(class="contest-title") Coding Fest
                .user-rating
            ul.contest-details
                li.contest-details-item.time
                    i.ion.ion-ios-clock-outline
                    span.value 2
                    span.title Hours
                li.contest-details-item.ingredients
                    i.ion.ion-ios-book-outline
                    span.value 5
                    span.title Questions
                li.contest-details-item.servings
                    i.ion.ion-ios-person-outline
                    span.value 3rd
                    span.title March
        p.description 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aperiam facere sit reiciendis illo, vitae maiores nostrum odit ea..
        footer.content__footer
            a(href="#") View Contest
