
html(lang='en')
  head
    title Elab Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='icon', type='image/png', href='/images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='/css/util.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    script(src="/js/toastr.min.js")
    link(rel="stylesheet", href="/css/toastr.min.css")
    style.
      /* For Footer*/

        html, body {
          height: 100%;
          margin: 0;
        }
        .WRAPPER {
          min-height: 100%;

          /* Equal to height of footer */
          /* But also accounting for potential margin-bottom of last child */
          margin-bottom: -50px;
        }
        .FOOTER,
        .push,.push1 {
          height: 50px;
        }

      /* End for Footer*/
    
  body
    .WRAPPER
      .limiter
        .container-login100
          .wrap-login100.p-l-50.p-r-50.p-t-40.p-b-40
            form.login100-form.validate-form(onsubmit="return changeSubmit()")#changeForm
              span.login100-form-title.p-b-55
                | CHANGE PASSWORD
              p=login_error
              .wrap-input100.validate-input.m-b-16(data-validate='Password is required')
                input.input100(type='password', name='password', placeholder='New Password')
                span.focus-input100
                span.symbol-input100
                  span.fa.fa-lock
              .wrap-input100.validate-input.m-b-16(data-validate='Password is required')
                input.input100(type='password', name='cnf_password', placeholder='Confirm Password')
                span.focus-input100
                span.symbol-input100 
                  span.fa.fa-lock
              
              .container-login100-form-btn.p-t-25
                button.login100-form-btn
                  | SUBMIT
      .modal#loading(data-backdrop="static" role="dialog" tabindex="-1" data-keyboard="false" aria-hidden="true")
        .modal-dialog.modal-dialog-centered.text-center(role="document")
          span.fas.fa-circle-notch.fa-spin.fa-3x.w-100
      //- .push1
      .push
    //- footer.bg-dark(class="FOOTER")
    //-   div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020        
    include footer
    script(src='/vendor/bootstrap/js/popper.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/select2/select2.min.js')    
    script(src='/js/main.js')
    script.
      function changeSubmit(){
        $("#loading").modal('show');
      $.ajax({
        type : "POST",
        url: "",
        data:$("#changeForm").serialize(),
        success : function(data,status,jqXHR){
            $("#changeForm").empty().append('<p>'+data+'</p>');
            $("#loading").modal('hide');
        },
        error: function(e) { 
          toastr.error(e.responseText);
          $("#loading").modal('hide');
        }
      });
      return false;
      }
