extends navbar

block head
  title Contest

block content
    .jumbotron.text-left.bg-info.border.rounded.d-lg-flex.justify-content-lg-center.align-items-lg-center
      h1 CONTESTS
      p
      
      


    //- nav.text-center.d-inline-flex(style='height: 36px;margin: 50%;')
    //-   ul.pagination
    //-     li.page-item
    //-       a.page-link(href='#', aria-label='Previous')
    //-         span(aria-hidden='true') «
    //-     li.page-item
    //-       a.page-link(href='#') 1
    //-     li.page-item
    //-       a.page-link(href='#') 2
    //-     li.page-item
    //-       a.page-link(href='#') 3
    //-     li.page-item
    //-       a.page-link(href='#') 4
    //-     li.page-item
    //-       a.page-link(href='#') 5
    //-     li.page-item
    //-       a.page-link(href='#', aria-label='Next')
    //-         span(aria-hidden='true') »

