extends navbar


block append head
  - navClass = "bg-fade trans";
  - navStyle = "";
  title Contest
  link(rel="stylesheet", href="/css/contest_card.css")
  link(rel="stylesheet", href="/assets/css/n.css")
  link(rel='stylesheet' type='text/css' href='card.css')
  script(src="/js/contest_card.js")
  style.
    .trans{
    position:absolute;
    right:60px;
    left:60px;
    padding-top:30px;
    background:transparent;
    background-color:transparent!important;
    }
  script.
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid white}";
        document.body.appendChild(css);
    };
  style.
    body{
      background-color:#f5f5f0;
    }
    .flex-container {
    display: flex;
    flex-flow: row wrap;
    }
  - active.contest="active"
block content
    section.module.parallax.parallax-1(data-type='background' data-speed='10')
      .parallax-container
        h2.typewrite(href='' data-period='2000' data-type='[ "CONTESTS" ]' style="font-weight:bold")
          span.wrap
    .row.flex-container(style="width:100%")
      each i in contest
        .ft-contest 
          .ft-contest__thumb
            //-span(id="close-modal")
                i.ion.ion-md-close
            //-h3 Today's Featured contest
            img(src="download.png", alt="Strawberry Waffle")
          .ft-contest__content
            header.content__header
              .row-wrapper
                  h2(class="contest-title") #{ i.name}
                  .user-rating
              ul.contest-details
                  li.contest-details-item.time
                      i.ion.ion-ios-clock-outline
                      span.value 2
                      span.title Hours
                  li.contest-details-item.ingredients
                      i.ion.ion-ios-book-outline
                      span.value 5
                      span.title Questions
                  li.contest-details-item.servings
                      i.ion.ion-ios-person-outline
                      span.value 3rd
                      span.title March
            p.description=i.description
            footer.content__footer
                a(href="/contest/"+i.url) View Contest