extends navbar


block head
  title Contest
  link(rel="stylesheet", href="/css/contest_card.css")
  script(src="/js/contest_card.js")
  style.
    body{
      
    }
block content
    .jumbotron.text-left.bg-info.border.rounded.d-lg-flex.justify-content-lg-center.align-items-lg-center
      h1 CONTESTS
    
    each i in contest 
      //- ul
      //-   a(href="/contest/"+i.url)=i.name
      .container_card
        .c-card-block
          a(href="/contest/"+i.url)
            .cheader
              h1 #{ i.name}
            p
              | Himanshu shekar
            button.attem.btn.btn-info(type='button' onclick="location.href=/contest/"+i.url+"") Attempt

      
      


    //- nav.text-center.d-inline-flex(style='height: 36px;margin: 50%;')
    //-   ul.pagination
    //-     li.page-item
    //-       a.page-link(href='#', aria-label='Previous')
    //-         span(aria-hidden='true') «
    //-     li.page-item
    //-       a.page-link(href='#') 1
    //-     li.page-item
    //-       a.page-link(href='#') 2
    //-     li.page-item
    //-       a.page-link(href='#') 3
    //-     li.page-item
    //-       a.page-link(href='#') 4
    //-     li.page-item
    //-       a.page-link(href='#') 5
    //-     li.page-item
    //-       a.page-link(href='#', aria-label='Next')
    //-         span(aria-hidden='true') »

