extends navbar


block append head
  - navClass = "bg-fade trans";
  - navStyle = "";
  title Contest
  link(rel="stylesheet", href="/css/contest_card.css")
  link(rel="stylesheet", href="/assets/css/n.css")
  link(rel='stylesheet' type='text/css' href='card.css')
  script(src="/js/contest_card.js")
  script(src="/js/typewriter.js")
  style.
    .trans{
    position:absolute;
    right:60px;
    left:60px;
    padding-top:30px;
    background:transparent;
    background-color:transparent!important;
    }
    body{
      background-color:#f5f5f0;
    }
    .flex-container {
    display: flex;
    flex-flow: row wrap;
    }

    body::-webkit-scrollbar {
      width: 5px;
    }
    
    body::-webkit-scrollbar-track {
      background: #ddd;
    }
    
    body::-webkit-scrollbar-thumb {
      background: #666; 
    }

  - active.contest="active"
  
block content
    section.module.parallax.parallax-1(data-type='background' data-speed='10')
      .parallax-container
        h2.typewrite(href='' data-period='2000' data-type='[ "CONTESTS" ]' style="font-weight:bold")
          span.wrap
    .row.flex-container(style="width:100%")
      each i in contest
        .ft-contest 
          .ft-contest__thumb
            //-span(id="close-modal")
                i.ion.ion-md-close
            //-h3 Today's Featured contest
            img(src="download.png", alt=contest.name)
          .ft-contest__content
            header.content__header
              .row-wrapper
                  h2(class="contest-title") #{ i.name}
                  .user-rating
              ul.contest-details
                  li.contest-details-item.time
                      i.ion.ion-ios-clock-outline
                      span.value 2
                      span.title Hours
                  li.contest-details-item.ingredients
                      i.ion.ion-ios-book-outline
                      span.value 5
                      span.title Questions
                  li.contest-details-item.servings
                      i.ion.ion-ios-person-outline
                      span.value 3rd
                      span.title March
            p.description=i.description
            footer.content__footer
                a(href="/contest/"+i.url) View Contest