doctype html
include navbar
html   
    head
      title Dashboard
      link(rel='stylesheet' href='list_style/bootstrap/css/new.css')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
      link(rel="stylesheet", href="/css/stdash.css")
      link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
body
  .row.w-100
    .col-lg-4
      div.pl-4
        br
        h2 Practice
        hr(style='width: 50%;float: left;')
        br
        br
        h4 Practice everyday to excel in interviews
        br
        p
          | Explore different programming Languages, solve coding problems, and crack your coding interview.
        a.btn.btn-success(type='button' href="/practice" target="_blank") View All
    -for(let i=0;i<2;i++)
      -if(q[i])
        .col-lg-4  
          .card1.one.shadows.shadows-interact(style='float: right;')
            .header(style='background: url(/images/img18.jpg) center;background-size: cover;')
            .body
              h2 #{q[i].name}
              b
              br
              br
              br
              br
              br
            .footer
              span.price
                a.btn.btn-primary.btn-block(type='button' style='margin-left: 50%;width: 90px;height: 40px;' href="/practice/"+q[i].qid) Solve
      -else
        .col-lg-4  
          .card2.one.shadows.shadows-interact(style='float: right;')
            .body
              h2(style='text-align:center;margin-bottom:-40px;margin-top: 300px;') Coming Soon
              br
              br
              br
              br
              
            .footer
              br
              br
  div(style='width: 100%; height: auto;')
    .descrip(style='float: right;width: 430px;')
      br
      h2 Contest
      hr(style='width: 50%;float: left;')
      br
      br
      h4 Participate in coding contests
      br
      p
        | Comepete , Code Faster and Achieve.
      a.btn.btn-success(type='button' href="/contest" target="_blank") View All
  
  -for(let i=0;i<2;i++)
    -if(contest[i])
      .card1.one.shadows.shadows-interact(style='float:left;')
        .header(style='background: url('+contest[i].image+') center;background-size: cover;')
        .body
          h2 #{contest[i].name}
          b #{contest[i].description}
          br
          br
          br
          br
        .footer
          span.price
            a.btn.btn-primary.btn-block(type='button' style='margin-left: 50%;width: 90px;height: 40px;' href="/contest/"+contest[i].url) View
  
    -else
      .card2.one.shadows.shadows-interact(style='float: left;')
        .body
          h2(style='text-align:center;margin-bottom:-40px;margin-top: 300px;') Coming Soon
          br
          br
          br
          br

        .footer
          br
          br
      //- span.price
        //- button.btn.btn-primary.btn-block(type='button' style='margin-left: 50%;width: 90px;height: 40px;') Register
//-   

    //-script(src='list_style/js/jquery.min.js')
    //-script(src='list_style/bootstrap/js/bootstrap.min.js')
    //-script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js')
    //- script(src='list_style/js/theme.js')