doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
		link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/Navigation-Clean.css')
		link(rel='stylesheet', href='/assets/css/styles.css')
		script(src="/assets/js/jquery.min.js")
		script(src="/assets/bootstrap/js/popper.min.js")
		script(src="/assets/bootstrap/js/bootstrap.min.js")
		block head
	body
		div
			nav.navbar.navbar-dark.bg-dark.navbar-expand-md.navigation-clean
				.container
					a.navbar-brand(href='/dashboard' ) ELAB
					button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
						span.sr-only Toggle navigation
						span.navbar-toggler-icon
					#navcol-1.collapse.navbar-collapse
						ul.nav.navbar-nav.ml-auto
							li.nav-item(role='presentation')
								a.nav-link(href='/practice') PRACTICE
							li.nav-item(role='presentation')
								a.nav-link(href='/contest') CONTEST
							li.nav-item(role='presentation')
								a.nav-link(href='#') ASSIGNMENT
							li.dropdown.nav-item
								a.dropdown-toggle.nav-link(data-toggle='dropdown', aria-expanded='false', href='#') 
									script.
										document.write(document.cookie.split("=")[1].toUpperCase());
								.dropdown-menu(role='menu')
									a.dropdown-item(role='presentation', href='/profile') PROFILE
									a.dropdown-item(role='presentation', href='#') SUBMISSIONS
									a.dropdown-item(role='presentation', href='/logout') LOG OUT
									.dropdown-divider(role='presentation')
					.clearfix
		block content

		
