if(type=="teacher")
    include teacher/nav
else
    include navbar

- function date(x) { let date = x; return x;}
  
head
  title TITLE
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='UTF-8')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500' rel='stylesheet')
  link(rel='stylesheet' href='/css/jquery.classycountdown.css')
  link(href='/css/timer_styles.css' rel='stylesheet')
  link(href='/css/timer_responsive.css' rel='stylesheet')
.main-area
  section.left-section(style='background-image: url(/images/countdown-2-1000x1000.jpg)')
    .display-table.center-text
      .display-table-cell
        - var x = date(time);
          if(x)
            #normal-countdown(data-date=date(time))
          else
            #normal-countdown(data-date='0001/01/01')
            .main-content(style="margin:25px")
              .email-input-area(style="margin:auto")
                if(attempt)
                  a(href=attempt)
                    button.submit-btn(type='button')
                      b(style="font-weight:bold") ENTER 
  section.right-section.full-height
    .display-table
      .display-table-cell
        .main-content
          h1.title
            b Code Quest
          p This is a contest
          .email-input-area
            // <input class="email-input" name="email" type="text" placeholder="Enter your email"/>
            button.submit-btn(name='submit' type='submit' data-toggle="modal" data-target="#rules_modal")
              b(style="font-weight:bold") RULES
          
    #rules_modal.modal.fade
      .modal-dialog(style="width:50%;max-width:70%")
          .modal-content
            .modal-header
              h4.modal-title Rules
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              div(style="white-space:pre-wrap") #{rules}
            .modal-footer
                button.btn.btn-danger(type='button' data-dismiss='modal') Close

script(src='/js/jquery.countdown.min.js')
script(src='/js/timer_scripts.js')
