doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/style.css')
  title Coming Soon
section.landing
  .landing-inner
    img(src='img/photo_2019-10-09_20-39-00.jpg')
    h1  #Contest Name 
    h1 Coming Soon
    .countdown
script(src='js/main.js')
