extends nav

block append head
    title Assignments
    link(rel='stylesheet' href='list_style/bootstrap/css/new.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
    - active.assignment="active"

block content
    .jumbotron.text-left.bg-light.border.rounded.d-lg-flex.justify-content-lg-center.align-items-lg-center
            h1 ASSIGNMENTS
    .col-3(style="margin:auto;")
        select#sem(name="sem").form-control.custom-select.type
                option(selected,disabled) Select Semester
                each i in current
                    option(value=i.id) #{i.sem}, Set #{i.id.substr(9)}
    main.page.projets-page
        section.portfolio-block.project-no-images
            .container1
                .row1#quesList
                    


    script.
        $("#sem").change(function(){
            $("#quesList").empty();
            $.get('/assignment/get/'+$("#sem").val(),function (data,status){
                data.forEach((item,index)=>{
                    $("#quesList").append('<div class="col-md-6 col-lg-4"><div class="project-card-no-image"><h5>'+item.name+'</h5><a class="btn1 btn1-outline-primary btn1-sm" role="button" href="/assignment/'+item.qid+'">VIEW</a></div></div>');
                });
            });
        });
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js')
    script(src='list_style/js/theme.js')