extends nav

block append head
    title Assignments
    link(rel='stylesheet' href='list_style/bootstrap/css/new.css')
    link(rel="stylesheet", href="/assets/css/n.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    script(src="/fontawesome/all.min.js")
    script(src="/js/typewriter.js ")
    - active.assignment="active"
    - navClass = "bg-fade trans";
    - navStyle = "";
    style.
        .trans{
        position:absolute;
        right:60px;
        left:60px;
        padding-top:30px;
        background:transparent;
        background-color:transparent!important;
        }
        .card {
      width: 90%;
      box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: left;
      left: 20px;
      padding: 10px;
      margin: 20px;
      position: relative;
      
      }
      .editor-right{
        color:#263238;
      }
      .editor-right:hover{
        color:#1E88E5;
        cursor:pointer;
        text-decoration:none;
      }
    

block content
    //- .jumbotron.text-left.bg-light.border.rounded.d-lg-flex.justify-content-lg-center.align-items-lg-center
    //-         h1 ASSIGNMENTS
    .WRAPPER
        section.module.parallax.parallax-1(data-type='background' data-speed='10')
            .parallax-container
                h2.typewrite(href='' data-period='2000' data-type='[ "ASSIGNMENT" ]' style="font-family: 'ABeeZee';letter-spacing:3px;font-weight:bold")
                    span.wrap
        br
        .col-3(style="margin:auto;")
            select#sem(name="sem").form-control.custom-select.type
                    option(selected,disabled) Select Semester
                    each i in current
                        option(value=i.id) #{i.sem}, Set #{i.id.substr(9)}
        .col-3.mr-4(style="float:right")
            .card.mt-0
                div.mt-3
                    a#leaderboard.editor-right.pl-2 
                        i.fad.fa-poll-people(style="font-size:16px")
                        | &nbsp; 
                        label.editor-right(style="font-size:18px") Leaderboard
                div.mt-3
                    a.editor-right.pl-2(href="/assignment/previous") 
                        i.fad.fa-eye(style="font-size:16px")
                        | &nbsp; 
                        label.editor-right(style="font-size:18px") View Previous
                div.mt-3
                    a#sub.editor-right.pl-2() 
                        i.fad.fa-eye(style="font-size:16px")
                        | &nbsp; 
                        label.editor-right(style="font-size:18px") View Submissions
        main.page.projets-page
            section.portfolio-block.project-no-images
                #ends(style="margin-left:70px;")
                br
                .container1
                    .row1#quesList
        
        #paginationAllow
        .push1
        .push
    //- footer.bg-dark(class="FOOTER")
    //-     div.text-center.text-light.font-weight-bold.pt-3 ELAB @ HKBKCE CSE DEPT. 2020                
    include ../footer

    script.
        $("#sem").change(function(){
            $("#quesList").empty();
            $("#paginationAllow").empty();
            $.get('/assignment/get/'+$("#sem").val(),function (data,status){ $("#leaderboard").attr('href','/assignment/leaderboard/'+$("#sem").val());
                $("#sub").attr('href','/assignment/submissions/'+$("#sem").val());
                const d = data.ends;
                $("#ends").text("Ends on : "+ d.substr(0,d.indexOf("GMT")));
                data.questions.forEach((item,index)=>{
                    $("#quesList").append('<div class="col-md-6 col-lg-4"><div class="project-card-no-image"><h5>'+item.name+'</h5><a class="btn1 btn1-outline-primary btn1-sm" target="_blank" role="button" href="/assignment/'+item.qid+'">VIEW</a></div></div>');
                });

                let pagi = '<nav aria-label="..."><ul class="pagination pagination-sm justify-content-center"><li class="page-item '+(data.page==1?'disabled':'') +'"><a class="page-link" href="javascript:getQ('+(data.page-1)+')" '+(data.page==1?'aria-disabled="true"':'')+'>Previous</a></li>';
                for(let i=1;i<=Math.ceil(data.count/12);i++){
                pagi+='<li class="page-item '+(data.page==i?'active':'') +'"><a class="page-link " href="javascript:getQ('+i+')">'+i+" "+(data.page==i?'<span class="sr-only">(current)</span>':'')+'</a></li>';
                }
                pagi+='<li class="page-item '+(data.page==Math.ceil(data.count/12)?'disabled':'') +'"><a class="page-link" href="javascript:getQ('+(parseInt(data.page)+1)+')" '+(data.page==data.count?'aria-disabled="true"':'')+'>Next</a></li></ul></nav>';
                if(!data.count <=0)$("#paginationAllow").append(pagi);

            });
        });

        function getQ(p){
            let page=1;
            if(Number.isNaN(p) || !p || p < 1) page=1;
            else page=p;
            
            $.get('/assignment/get/'+$("#sem").val(),{page:p},function (data,status){$("#quesList").empty();$("#paginationAllow").empty();
                data.questions.forEach((item,index)=>{
                    $("#quesList").append('<div class="col-md-6 col-lg-4"><div class="project-card-no-image"><h5>'+item.name+'</h5><a class="btn1 btn1-outline-primary btn1-sm" role="button" href="/assignment/'+item.qid+'">VIEW</a></div></div>');
                });

                let pagi = '<nav aria-label="..."><ul class="pagination pagination-sm justify-content-center"><li class="page-item '+(data.page==1?'disabled':'') +'"><a class="page-link" href="javascript:getQ('+(data.page-1)+')" '+(data.page==1?'aria-disabled="true"':'')+'>Previous</a></li>';
                for(let i=1;i<=Math.ceil(data.count/12);i++){
                pagi+='<li class="page-item '+(data.page==i?'active':'') +'"><a class="page-link " href="javascript:getQ('+i+')">'+i+" "+(data.page==i?'<span class="sr-only">(current)</span>':'')+'</a></li>';
                }
                pagi+='<li class="page-item '+(data.page==Math.ceil(data.count/12)?'disabled':'') +'"><a class="page-link" href="javascript:getQ('+(parseInt(data.page)+1)+')" '+(data.page==data.count?'aria-disabled="true"':'')+'>Next</a></li></ul></nav>';
                if(!data.count <=0)$("#paginationAllow").append(pagi);
            });
        }

        $(document).ready(()=>{
                if(window.location.href.includes('a')){
                    let searchParams = new URLSearchParams(window.location.search)  
                    if(searchParams.has('a'))
                        $("#sem").val(searchParams.get('a')).change();
                }
            })
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js')
    script(src='list_style/js/theme.js')