doctype html
html(lang='en')
include ../navbar
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title ELAB |CONTEST FORM
  style.
    * {
    box-sizing: border-box;
    }
    .contestform{
    /*border: 2px solid black;*/
    margin: 30px;
    padding: 10px;
    margin-top: 110px;
    }
body
  .contestform
    h2 Create Contest
    div
      form(action='' method='POST')
        label(for='Contest') Contest Name
        input#Contest(type='text', name='name', placeholder='Contest', required='true')
        br
        br
        label(for='Start Time') Start Time
        input(type='date' name = 'starts')
        |  at 
        input(type='time', required='true' name = 'starts')
        br
        br
        label(for='End Time') End Time
        input(type='date' name= 'ends')
        |  at 
        input(type='time', required='true' name = 'ends')
        br
        br
        label(for='select ') For:
        br
        br
        input(type='checkbox', name='year', value='1')
        label 1st Year
        br
        br
        input(type='checkbox', name='year', value='2')
        label 2nd Year
        br
        br
        input(type='checkbox', name='year', value='3')
        label 3rd Year
        br
        br
        input(type='checkbox', name='year', value='4')
        label 4th Year
        br
        br
        input(type='submit', value='GET STARTED')
