doctype html
include nav
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    
    script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    title ELAB |CONTEST FORM
    style.
      * {
      box-sizing: border-box;
      }
      .contestform{
      /*border: 2px solid black;*/
      margin: 30px;
      padding: 10px;
      margin-top: 110px;
      }
      .mwidth{
        width:400px;

      }
      .Date{
        width:175px;

      }
      .at{
        width:100px;
      }
      
    script.
      let u ="";
      function submitForm(){
      const con = $.post("", $("#con").serialize(), function(data,status) {
              u = data.url;
              $('#manageModal').modal('show');
              })
                  .fail(function(error){
                      document.getElementById('errorForm').innerHTML += '<div class="alert alert-danger alert-dismissible fade show"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Error! </strong>'+(error.responseText)+'</div>';
                      window.scrollTo(0,0);
                  })}
      

  body
    .contestform
      div#errorForm
      // The Modal
      #manageModal.modal.fade(data-backdrop="static", data-keyboard="false")
        .modal-dialog.modal-dialog-centered
          .modal-content
            // Modal Header
            .modal-header
              h4.modal-title Contest Created
            // Modal body
            .modal-body
              | Click on Next to manage your contest
            // Modal footer
            .modal-footer
              button.btn.btn-success(type='button' , onclick="location.href='./manage/'+u") Next

      h2 Create Contest
      div
        form#con
          label(for='Contest') Contest Name 
          input.form-control.mwidth#Contest(type='text', name='name', placeholder='Contest', required='true')
          br
          br
          label(for='descrip') Description
          input.form-control.mwidth#descrip(type='text', name='description', placeholder='Description', required='true')
          br
          br
          label(for='timings') Date
          input#timings.form-control.mwidth(type='text' name='timings' )
          
          br
          br
          .row
            label For: &nbsp;
            .col-1.custom-control.custom-checkbox
              input(type='checkbox',class= "custom-control-input", name='year', id="1-year", value='1')
              label(class="custom-control-label" for="1-year") 1st Year
            .col-1.custom-control.custom-checkbox
              input(type='checkbox', class= "custom-control-input",name='year',id="2-year" ,value='2')
              label(class="custom-control-label" for="2-year") 2nd Year
            .col-1.custom-control.custom-checkbox
              input(type='checkbox', class= "custom-control-input",name='year',id="3-year", value='3')
              label(class="custom-control-label" for="3-year") 3rd Year
            .col-1.custom-control.custom-checkbox
              input(type='checkbox', class= "custom-control-input",name='year',id="4-year", value='4')
              label(class="custom-control-label" for="4-year") 4th Year
          br  
          input.btn.btn-outline-primary.btn-sm(type='button', value='GET STARTED', onclick="submitForm()")

        script.
          $(function() {
            $('#timings').daterangepicker({
              timePicker: true,
              startDate: moment().startOf('hour'),
              endDate: moment().startOf('hour').add(32, 'hour'),
              locale: {
                format: 'YYYY/MM/DD hh:mm A'
                } 
              });
            });
