include nav
html(lang='en')
  head
    title=contest.name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="/js/highlight.js")
    link(rel="stylesheet", href="/css/quill.snow.css")
    script(src='/js/popper.min.js')
    script(src="/js/quill.js")
    link(rel="stylesheet", href="/css/katex.min.css")
    script(src="/js/katex.min.js")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css")
    script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js")
    


    
   
  body
    br
    .container
      h2
        a(href="/contest/"+contest.url) #{contest.name}
      div#alertForm
      br
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')#myTab
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#home') DETAILS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu1') QUESTIONS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu2') SIGNED UP
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu3') ACCESS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu4') GROUPS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu5') LEADERBOARD
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu6') STATISTICS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu7') RULES
      // Tab panes
      .tab-content
        #home.container.tab-pane.active
          br
          h3 DETAILS
          include details
        #menu1.container.tab-pane.fade
          br
          include addquestion
        #menu2.container.tab-pane.fade
          br
          h3 STUDENTS
          include studtab
        #menu3.container.tab-pane.fade
          br
          include access
        #menu4.container.tab-pane.fade
          br
          include customGroup
        #menu5.container.tab-pane.fade
          br
          //- h3 LEADERBOARD
          include leaderboard
        #menu6.container.tab-pane.fade
          br
          h3 STATISTICS
          include statistics
        #menu7.container.tab-pane.fade
          br
          h3 RULES
          include rules
    
    script.
      $(function() {
      $('a[data-toggle="tab"]').on('click', function(e) {
          window.sessionStorage.setItem('activeTab', $(e.target).attr('href'));
      });
      var activeTab = window.sessionStorage.getItem('activeTab');
      if (activeTab) {
          $('#myTab a[href="' + activeTab + '"]').tab('show');
          window.sessionStorage.removeItem("activeTab");
      }
      });
