extends nav

block append head
        - navClass = "bg-fade trans";
        - navStyle = "";
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Manage Contest
        //- link(rel='stylesheet' href='/list_style/bootstrap/css/new.css')
        //- link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
        //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
        
        link(rel="stylesheet", href="/css/contest_card.css")
        link(rel="stylesheet", href="/assets/css/n.css")
        script(src="/js/contest_card.js")
        script(src="/js/typewriter.js")
        style.
            .trans{
                position:absolute;
                right:60px;
                left:60px;
                padding-top:30px;
                background:transparent;
                background-color:transparent!important;
            }

block content

        section.module.parallax.parallax-1(data-type='background' data-speed='10')
            .parallax-container
                h2.typewrite(href='' data-period='2000' data-type='[ "MANAGE" ]' style="font-weight:bold")
                    span.wrap        
    
        .row(style="width:100%")
            - let question = q
            each i in question
                .col-lg-3
                    .container_card(style="margin-left:10px;")
                        .c-card-block
                            a(href="manage/"+i.url)
                                .cheader
                                    h4 #{ i.name}
                                    br
                                p.block-with-text=i.description                                
                                button.attem.btn.btn-info(type='button' onclick="location.href=manage/"+i.url+"") Manage

        -if(count>0)
            ul.pagination.justify-content-center
                li.page-item(class=(page==1?'disabled':''))
                    a.page-link(href="?page="+(page-1)) Previous
                -for(let i=1;i<=Math.ceil(count/12);i++)
                    li.page-item(class=(page==i?'active':''))
                        a.page-link(href="?page="+i)=i
                li.page-item(class=(page==Math.ceil(count/12)?'disabled':''))
                    a.page-link(href="?page="+(page+1) ) Next