include nav
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="/js/highlight.js")
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js")

    
   
  
  body
    br
    .container
      h2 #{contest.name}
      div#alertForm
      br
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#home') DETAILS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu1') QUESTIONS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu2') STUDENTS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu3') LEADERBOARD
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu4') STATISTICS
        li.nav-item
          a.nav-link(data-toggle='tab', href='#menu5') RULES
      // Tab panes
      .tab-content
        #home.container.tab-pane.active
          br
          h3 DETAILS
          include details
        #menu1.container.tab-pane.fade
          br
          include addquestion
        #menu2.container.tab-pane.fade
          br
          h3 STUDENTS
          include studtab
        #menu3.container.tab-pane.fade
          br
          h3 LEADERBOARD
          include leaderboard
        #menu4.container.tab-pane.fade
          br
          h3 STATISTICS
          include statistics
        #menu5.container.tab-pane.fade
          br
          h3 RULES
          include rules
