head
  title STUDENTLIST
 
body
  table.table.table-stripped
    thead
      tr
        th No
        th NAME
        th USN
        th Timestamp
    tbody
      each i,j in contest.signedUp
        tr
          td=j+1
          td=i.name
          td=i.usn
          td=i.time.toString()
