include nav
doctype html
head
  title  Submission
  meta(name='viewport' content='width=device-width, initial-scale=1')
//-   link(rel='stylesheet' type='text/css' href='custom.css')
//-   link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
//-   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
style.
  body{
  background-color:#004C70 !important;
  }
  .table tr {
  cursor: pointer;
  }
  .table{
  background-color: #fff !important;
  }
  .hedding h1{
  color:#fff;
  font-size:25px;
  }
  .main-section{
  margin-top: 20px;
  }
  .hiddenRow {
  padding: 0 4px !important;
  background-color: #eeeeee;
  font-size: 13px;
  }
  .accordian-body span{
  color:#a2a2a2 !important;
  }
.container.main-section
  .row
    .col-lg-12.hedding.pb-2
      h1  Submission 
      hr
    .col-lg-12
      table.table.table-bordered(style='border-collapse:collapse;')
        thead
          tr
            th No.
            th USN
            th Name
            th Qid
            th Time
            th Points
            th Status
        tbody
          tr.accordion-toggle(colspan='6' data-toggle='collapse' data-target='#demo1')
            td 1
            td 1HK17CS004
            td GHANI
            td 12
            td  11/04/2020 , 23:00
            td 40
            td PASSED
          tr.p
            td.hiddenRow(colspan='7')
              #demo1.accordian-body.collapse.p-3
                div
                  h4 Question Name : 
                  p()
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, accusantium nobis quasi laudantium alias nesciunt neque assumenda rerum maiores voluptates ab quae dolorem a ad, atque minus iusto? Numquam, velit.
                h5 Language Used:
                div
                  h5 Code:
                  p
                    br
                    br
    
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
script.
  $('.accordion-toggle').click(function(){
  $('.hiddenRow').hide();
  $(this).next('tr').find('.hiddenRow').show();
  });
  function openitem(evt, items) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
  tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
  tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(items).style.display = "block";
  evt.currentTarget.className += " active";
  }
