include nav

style.
  .admin{
  float: right;
  margin-right: 10%;
  }

.jumbotron
  h1.text-center Contest
.admin
  h5 Administration
  a(href='/contest/create') Create Contest
  br
  a(href='manageContest') Manage Contest
