@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600");

:root {
	--headlinesFont: 'Josefin Sans', sans-serif;
	--bodyFont: 'Work Sans', sans-serif;
	--wildWatermelon: #ff4f87;
	--fuelYellow: #f0a035;
	--textColor: #323232;
	--bodyBg: #d6d6d6;
	--white: #fff;
	--black: #000;
}

/* html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: var(--bodyBg);
	font-family: var(--bodyFont);
	color: var(--textColor);
	line-height: 1.5;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
} */

.ft-contest img {
	vertical-align: text-bottom;
}

.ft-contest a {
	color: inherit;
	text-decoration: none;
}

.ft-contest {
	width: 260px;
	height: 475px;
	background: var(--white);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.160784);
	overflow: hidden;
	/* top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%; */
	position: relative;
	margin-bottom: 0 !important;
	/* -webkit-transform: translate(-50%, -50%); */
	transform: scale(0.85);
	flex:25% ;
    max-width: 25%;
}

.ft-contest .ft-contest__thumb {
	position: relative;
	height: 180px;
	/*box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);*/
}

.ft-contest .ft-contest__thumb #close-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	background: #000;
	color: var(--white);
	text-align: center;
	line-height: 36px;
	font-size: 22px;
	cursor: pointer;
	z-index: 1;
	transition: all 200ms ease;
}

.ft-contest .ft-contest__thumb #close-modal:hover {
	background: transparent;
	color: var(--black);
}

.ft-contest .ft-contest__thumb h3 {
	text-align: center;
	position: absolute;
	margin: 0;
	width: 100%;
	color: var(--white);
	font-family: var(--headlinesFont);
	font-size: 25px;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
	padding: 2.4rem 0 0;
}

.ft-contest .ft-contest__thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.ft-contest .ft-contest__content {
	flex: 1;
	padding: 0 2em 1em;
}

.ft-contest .ft-contest__content .content__header .row-wrapper {
	display: flex;
	padding: .55em 0 .3em;
	border-bottom: 1px solid #d8d8d8;
}

.ft-contest .ft-contest__content .content__header .row-wrapper .contest-title {
	font-family: var(--headlinesFont);
	font-weight: 600;
	font-size: 27px;
}

.ft-contest .ft-contest__content .content__header .contest-details {
	display: flex;
	list-style: none;
	padding: 5px 0 5px;
	margin: auto;
	/* justify-content: space-between; */
	justify-items: end;

}

.ft-contest .ft-contest__content .content__header .contest-details .contest-details-item {
	flex: 1;
	
}

.ft-contest .ft-contest__content .content__header .contest-details .contest-details-item i {
	font-size: 30px;
}

.ft-contest .ft-contest__content .content__header .contest-details .contest-details-item .value {
	color: #ff4f87;
	margin-left: .35em;
	vertical-align: bottom;
	font-size: 20px;
	font-weight: 600;
}

.ft-contest .ft-contest__content .content__header .contest-details .contest-details-item .title {
	display: block;
	margin-top: -4px;
	font-family: var(--headlinesFont);
	font-size: 17px;
	font-weight: 300;
}

.ft-contest .ft-contest__content .description {
	margin: .3em 0 1.8em;
	font-size: 18px;
}

.ft-contest .ft-contest__content .content__footer {
	text-align: center;
	/* margin: 0; */
	position: fixed;
	bottom: 40px;
	left: 50%;
    transform: translate(-50%, 0);
}

.ft-contest .ft-contest__content .content__footer a {
	font-family: var(--headlinesFont);
	display: inline-block;
	background: var(--wildWatermelon);
	padding: .45em 1em;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	letter-spacing: .2px;
	font-size: inherit;
	transition: transform 250ms ease, box-shadow 250ms ease;
}

.ft-contest .ft-contest__content .content__footer a:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
}
