@font-face {
  font-family: Work Sans;
  src: url("/fonts/WorkSans-Regular.ttf");
}

.navigation-clean {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  font-family: Work Sans;
  font-size: 18px;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: white;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ffffff;
  box-shadow: none;
  background: none;
  /*pointer-events: none;*/
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:rgba(255, 255, 255, 0.705);
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean textarea {
  height: 150px;
  width: 1150px;
}

a:not([href]):not([tabindex]) {
}

.btn.btn-primary.float-right {
}

.question {
  width: 960px;
  /*border: 2px solid black;*/
  margin: 0 auto;
  height: 90px;
  border: 2px solid rgba(22,215,99,0.62);
  border-radius: 20px;
  margin-bottom: 20px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

.que {
  width: 960px;
  /*border: 2px solid black;*/
  margin: 10px auto;
  height: 60px;
  /*border: 2px solid rgba(22,215,99,0.62);*/
  border-radius: 20px;
  position: relative;
  float: left;
}


