head
    style.
      .btn-label {
          position: relative;
          left: -12px;
          display: inline-block;
          padding: 6px 12px;
          background: rgba(0,0,0,0.15);
          border-radius: 3px 0 0 3px;
      }
      .btn-labeled {
          padding-top: 0;
          padding-bottom: 0;
          float: right;
      }
      .btn { 
          margin-bottom:10px;
          margin-right:5px;
      } 



body
    .modal.fade#customTeacher(tabindex ="-1" role="dialog" )
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h4.modal-title Add Teacher to Lab
                .modal-body
                    table#teacherTable.table.table-hover(style="width:100%")
                        thead
                            tr
                                th Select
                                th STAFF ID
                                th Name
                    
                .modal-footer
                    button.btn.btn-success(type='button' onclick="customInsertTeacher()") SAVE
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    
    | Grant access to other teachers for managing this lab.
    

    a.btn.btn-labeled.btn-success(href='' role='button'  data-toggle="modal" data-target="#customTeacher")
        span.btn-label
            i.fas.fa-user-plus
        | Add Teachers
 
    br
    br
    #accordionExample.accordion
        .card
            #headingTwo.card-header
                h2.mb-0
                    button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        | View selected teachers
            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                .card-body
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th STAFF ID
                                th Name
                        tbody#selectedTeachers



    
    
    script.
        const labUrl = "#{lab.url}";
        let selected = !{JSON.stringify(lab.custom_staff_id)}
        function customInsertTeacher(){
            $.ajax({
                type: "POST",
                url: "/lab/teachers/"+labUrl,
                data:{teacherListCustom:selected},
                success: function (data,status, jqXHR) {
                toastr.success(data);  
                selectedTeachersData();
                },
                error: function (e) {
                    toastr.error(e.responseText);
        
                }
            
                });
    
         }
        function selectedTeachersData(){$("#selectedTeachers").empty();
           $.get('/lab/teachers/'+labUrl,function (data,status){
               data.forEach((item,index)=>{
                   $("#selectedTeachers").append('<tr><td>'+(index+1)+'</td><td>'+item.staff_id+'</td><td>'+item.fname+" "+item.lname+'</td></tr>');
               });
               
            }).fail((err)=>{
                   toastr.error(err.responseText);
               });
         }

        $("#collapseTwo").on('show.bs.collapse',selectedTeachersData);

        $("#customTeacher").on('show.bs.modal',function (e){
            $("#teacherTable").DataTable().destroy();
            $.get('/lab/teachers/all/'+labUrl,function(data,status){
                const teachers = $('#teacherTable').DataTable( {
                    "data":data,
                    "columns": [
                        { "data": "select" },
                        { "data": "staff_id" },
                        { "data": "name" },
                    ],
                    "order": [[ 1, 'asc' ]],
                    "columnDefs": [ {"searchable": false,"orderable": false,"targets": 0} ],
                    "drawCallback": function(settings, json) {
                        $.each(selected, function(i, val){
                            $("input[value='" + val + "']").prop('checked', true);
                        });
                        $("input[name='teacherListCustom']").change(function() {
                            if(this.checked) {
                                selected.push(this.value);
                            }
                            else{
                                const index=selected.findIndex(i =>{return i == this.value});
                                selected.splice(index,1);
                            }
                        });
                    }
                } );
            }).fail((err)=>{
                toastr.error(err.responseText);
            });
        });