extends ../nav

block append head   
    - active.lab="active";
    - navClass = "bg-fade trans";
    - navStyle = "";
    title Manage Lab
    link(rel="stylesheet", href="/fontawesome/all.min.css")
    script(src="/fontawesome/all.min.js")
    link(rel="stylesheet", href="/assets/css/n.css")
    script(src="/js/typewriter.js ")
    style.
        .trans{
        position:absolute;
        right:60px;
        left:60px;
        padding-top:30px;
        background:transparent;
        background-color:transparent!important;
        }

        body{
            background-color:#f5f5f0;
        }
        

        /*.lab-list-link {
            background:#0bb4a6;
            /*background:#FF4F87;
            color:#fff; 
            display:inline-block; 
            text-decoration:none; 
            height:45px; 
            line-height:48px; 
            padding:0 25px; 
            border-radius:2px; 
            /*border-bottom:2px solid #07736a; 
            font-size:14px; 
            letter-spacing:0.08em; 
            float:right;
        }*/
        /* a:hover{border-bottom:5px solid #07736a; position:relative; top:-2px; background:#0fbbad;}
        a:active{border-bottom:3px solid #07736a; position:relative; top:0px;}
        */
        .lab-list-link:hover{
            background:#F02767!important;
        }
        /* span.lab-list-name{
            font-size:24px; 
            font-weight:500; 
            color:#444; 
            float:left; 
            line-height:48px; 
            padding:0 0 0 5px; 
            display:inline-block; 
            width:200px;
        } */

        div.lab-list-name{
            font-size:24px; 
            font-weight:500;          
            padding:0 0 0 5px;
            font-family: 'Palanquin Dark';
            color:#666666!important; 
        }
    
        div.lab-list-description{
            font-size:16px; 
            font-weight:350; 
            color:#666666!important;
            padding:0 0 0 5px; 
        }
        .lab-list{
            background:#fff; 
            width:630px; 
            margin:0 auto; 
            text-align:left; 
            padding:15px; 
            box-shadow:1px 1px 1px rgba(0,0,0,0.05);
            height:100px; 
            margin-bottom:10px; 
            border-radius:1px;
        }
        /*.lab-list:nth-child(even){
            background:#fafafa;
        }*/

    
block content
    .WRAPPER
        section.module.parallax.parallax-1(data-type='background' data-speed='10')
            .parallax-container
                h2.typewrite(href='' data-period='2000' data-type='[ "MANAGE LAB" ]' style="font-family: 'ABeeZee';letter-spacing:3px;font-weight:bold")
                    span.wrap
        br
        each i in lab
            .lab-list.shadow-sm
                .row
                    .col-lg-10
                        div.lab-list-name #{i.name}
                        div.lab-list-description.mt-2 #{i.description}
                    .col-lg-2
                        a.btn.font-weight-bold.lab-list-link.mt-3(style="float:right;background:#FF4F87;color:#ffffff;" href="/lab/manage/"+i.url) Manage
                //- span.lab-list-name #{i.name}
                //- a.btn.font-weight-bold.lab-list-link(style="float:right;background:#FF4F87;color:#ffffff;" href="/lab/manage/"+i.url) Select    
            //- a(href="/lab/manage/"+i.url) #{i.name}
        .push1
        .push1
        .push
    include ../../footer