
.container
    .row
        .col-lg-9.col-md-10
            p Add rules for this lab (Optional).
            form#rules
                textarea#rulesBox.form-control(name="rules" placeholder="Enter the Rules" style="height:250px;") #{lab.rules}
                br
                button.btn.btn-success.btn-fill(type='button' onclick="addRules()") Add Rules

script.
    $("#rulesBox").focus(function() {
    if (document.getElementById('rulesBox').value === '') {
        document.getElementById('rulesBox').value += '• ';
    }
    });

    $("#rulesBox").keyup(function(event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
        document.getElementById('rulesBox').value += '• ';
    }
    var txtval = document.getElementById('rulesBox').value;
    if (txtval.substr(txtval.length - 1) == '\n') {
        document.getElementById('rulesBox').value = txtval.substring(0, txtval.length - 1);
    }
    if(txtval == '')
        document.getElementById('rulesBox').value += '• ';
    });
    
    function addRules(){
    $.post("/lab/rules/!{lab.url}",$("#rules").serialize(),
    function(data,status){
        toastr.success(data);
    }).fail((err)=>{
        toastr.error(err.responseText);
    });
    }


